<%- include('includes/header.ejs') %> 
<h1>Your Products</h1>
<div id="addprodbtn">
    <a class="btn" href="/project1/add-product">Add New Product</a>
</div>

<div class="products">
   <% for (let product of prods) { %>
       <article>
           <header>
               <h1><%= product.title %></h1>
           </header>
           <div>
               <img src="<%= product.imageUrl %>"
                   alt="<%= product.title %>">
           </div>
           <div>
               <h2>$<%= product.price %></h2>
               <p><%= product.description %></p>
           </div>
           <div>
            <a href="/project1/edit-product/<%= product.id %>?edit=true" class="btn">Edit</a>
            <form action="/project1/delete-product" method="POST">
                <input type="hidden" value="<%= product.id %>" name="productId">
                <button class="btn" type="submit">Delete</button>
            </form>
           </div>
       </article>
   <% } %> 
   </div>
<%- include('includes/end.ejs') %> 