<%- include('includes/header.ejs') %> 
<h1>Products</h1>
<div class="products">
<% for (let product of prods) { %>
    <article>
        <header>
            <h1><%= product.title %></h1>
        </header>
        <div>
            <img src="<%= product.imageUrl %>"
                alt="<%= product.title %>">
        </div>
        <div>
            <h2>$<%= product.price %></h2>
            <p><%= product.description %></p>
        </div>
        <div>
            <a href="/project1/<%= product._id %>">Details</a>
            <%- include('includes/add-to-cart.ejs', {product: product}) %>
        </div>
    </article>
<% } %> 
</div>
<%- include('includes/end.ejs') %> 
