<%- include('includes/header.ejs') %>
<h1>Login</h1>
<form class="login_signup" action="/project1/new-password" method="POST">
   <% if (errorMessage) { %> 
      <div>
         <%= errorMessage %> 
      </div>
   <% } %>
   <label>Password<br><input type="password" name="password"></label><br>
   <input type="hidden" name="userId" value="<%= userId %> ">
   <input type="hidden" name="passwordToken" value="<%= passwordToken %> ">
   <button class="btn" type="submit">Update Password</button>
</form>
<%- include('includes/end.ejs') %> 