<%- include('includes/header.ejs') %> 

<% if (orders.length <= 0) { %>
    <h1>Nothing there!</h1>
<% } else { %>
    <h1>Yout Past Orders</h1>
    <ul id="all-orders">
        <% orders.forEach(order => { %>
            <li class="order">
                <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                    <% order.products.forEach(p => { %>
                        <li class="order_item"><%= p.product.title %> (<%= p.quantity %>)</li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
<% } %>

<%- include('includes/end.ejs') %> 