<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/ta03.css">
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container1">
  <% for(let item of body) { %> 
    <article class="item">
      <h2><%= item.name %></h2>
      <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
      <h3>$<%= item.price %></h3>
      <p><%= item.description %></p>
    </article>
  <% } %>
</div>
<div class="pagination">
  <a href="/ta/03/?page=1">1</a>
  <a href="/ta/03/?page=2">2</a>
</div>


</body>
</html>
